.word0{color: black; font-size: 85px; position: absolute; cursor: default; left: 363px; top: 285px;}
.word1{color: black; font-size: 85px; position: absolute; cursor: default; left: 441px; top: 364px;}
.word2{color: black; font-size: 85px; position: absolute; cursor: default; left: 464px; top: 444px;}
.word3{color: black; font-size: 62px; position: absolute; cursor: default; left: 639px; top: 451px;}
.word4{color: black; font-size: 42px; position: absolute; cursor: default; left: 762px; top: 463px;}
.word5{color: black; font-size: 25px; position: absolute; cursor: default; left: 793px; top: 438px;}
.word6{color: black; font-size: 17px; position: absolute; cursor: default; left: 791px; top: 415px;}
.word7{color: black; font-size: 17px; position: absolute; cursor: default; left: 793px; top: 393px;}
.word8{color: black; font-size: 17px; position: absolute; cursor: default; left: 818px; top: 371px;}
.word9{color: black; font-size: 26px; position: absolute; cursor: default; left: 591px; top: 277px;}
.word10{color: black; font-size: 66px; position: absolute; cursor: default; left: 643px; top: 219px;}
.word11{color: black; font-size: 55px; position: absolute; cursor: default; left: 774px; top: 242px;}
.word12{color: black; font-size: 15px; position: absolute; cursor: default; left: 837px; top: 311px;}
.word13{color: black; font-size: 17px; position: absolute; cursor: default; left: 714px; top: 332px;}
.word14{color: black; font-size: 26px; position: absolute; cursor: default; left: 718px; top: 300px;}
.word15{color: black; font-size: 26px; position: absolute; cursor: default; left: 714px; top: 351px;}
.word16{color: black; font-size: 26px; position: absolute; cursor: default; left: 695px; top: 198px;}
.word17{color: black; font-size: 55px; position: absolute; cursor: default; left: 752px; top: 160px;}
.word18{color: black; font-size: 17px; position: absolute; cursor: default; left: 782px; top: 224px;}
.word19{color: black; font-size: 17px; position: absolute; cursor: default; left: 825px; top: 224px;}
.word20{color: black; font-size: 36px; position: absolute; cursor: default; left: 869px; top: 198px;}
.word21{color: black; font-size: 26px; position: absolute; cursor: default; left: 884px; top: 240px;}
.word22{color: black; font-size: 17px; position: absolute; cursor: default; left: 864px; top: 182px;}
.word23{color: black; font-size: 26px; position: absolute; cursor: default; left: 909px; top: 171px;}
.word24{color: black; font-size: 17px; position: absolute; cursor: default; left: 944px; top: 204px;}
.word25{color: black; font-size: 22px; position: absolute; cursor: default; left: 771px; top: 142px;}
.word26{color: black; font-size: 17px; position: absolute; cursor: default; left: 821px; top: 145px;}
.word27{color: black; font-size: 32px; position: absolute; cursor: default; left: 860px; top: 132px;}
.word28{color: black; font-size: 17px; position: absolute; cursor: default; left: 927px; top: 147px;}
.word29{color: black; font-size: 32px; position: absolute; cursor: default; left: 927px; top: 113px;}
.word30{color: black; font-size: 17px; position: absolute; cursor: default; left: 955px; top: 95px;}
.word31{color: black; font-size: 10px; position: absolute; cursor: default; left: 970px; top: 81px;}
.word32{color: black; font-size: 45px; position: absolute; cursor: default; left: 747px; top: 91px;}
.word33{color: black; font-size: 17px; position: absolute; cursor: default; left: 711px; top: 126px;}
.word34{color: black; font-size: 13px; position: absolute; cursor: default; left: 720px; top: 108px;}
.word35{color: black; font-size: 36px; position: absolute; cursor: default; left: 846px; top: 93px;}
.word36{color: black; font-size: 12px; position: absolute; cursor: default; left: 920px; top: 100px;}
.word37{color: black; font-size: 22px; position: absolute; cursor: default; left: 880px; top: 73px;}
.word38{color: black; font-size: 27px; position: absolute; cursor: default; left: 820px; top: 65px;}
.word39{color: black; font-size: 32px; position: absolute; cursor: default; left: 754px; top: 57px;}
.word40{color: black; font-size: 36px; position: absolute; cursor: default; left: 762px; top: 18px;}
.word41{color: black; font-size: 17px; position: absolute; cursor: default; left: 838px; top: 46px;}
.word42{color: black; font-size: 17px; position: absolute; cursor: default; left: 785px; top: 2px;}
.word43{color: black; font-size: 32px; position: absolute; cursor: default; left: 745px; top: 508px;}
.word44{color: black; font-size: 70px; position: absolute; cursor: default; left: 589px; top: 530px;}
.word45{color: black; font-size: 17px; position: absolute; cursor: default; left: 651px; top: 523px;}
.word46{color: black; font-size: 17px; position: absolute; cursor: default; left: 698px; top: 523px;}
.word47{color: black; font-size: 46px; position: absolute; cursor: default; left: 741px; top: 549px;}
.word48{color: black; font-size: 22px; position: absolute; cursor: default; left: 842px; top: 548px;}
.word49{color: black; font-size: 12px; position: absolute; cursor: default; left: 840px; top: 578px;}
.word50{color: black; font-size: 70px; position: absolute; cursor: default; left: 448px; top: 532px;}
.word51{color: black; font-size: 55px; position: absolute; cursor: default; left: 418px; top: 608px;}
.word52{color: black; font-size: 17px; position: absolute; cursor: default; left: 396px; top: 676px;}
.word53{color: black; font-size: 55px; position: absolute; cursor: default; left: 429px; top: 669px;}
.word54{color: black; font-size: 22px; position: absolute; cursor: default; left: 430px; top: 732px;}
.word55{color: black; font-size: 55px; position: absolute; cursor: default; left: 538px; top: 607px;}
.word56{color: black; font-size: 55px; position: absolute; cursor: default; left: 546px; top: 662px;}
.word57{color: black; font-size: 32px; position: absolute; cursor: default; left: 589px; top: 721px;}
.word58{color: black; font-size: 27px; position: absolute; cursor: default; left: 652px; top: 731px;}
.word59{color: black; font-size: 12px; position: absolute; cursor: default; left: 652px; top: 765px;}
.word60{color: black; font-size: 22px; position: absolute; cursor: default; left: 630px; top: 806px;}
.word61{color: black; font-size: 46px; position: absolute; cursor: default; left: 653px; top: 606px;}
.word62{color: black; font-size: 27px; position: absolute; cursor: default; left: 669px; top: 660px;}
.word63{color: black; font-size: 36px; position: absolute; cursor: default; left: 750px; top: 604px;}
.word64{color: black; font-size: 17px; position: absolute; cursor: default; left: 830px; top: 599px;}
.word65{color: black; font-size: 12px; position: absolute; cursor: default; left: 827px; top: 628px;}
.word66{color: black; font-size: 27px; position: absolute; cursor: default; left: 736px; top: 654px;}
.word67{color: black; font-size: 17px; position: absolute; cursor: default; left: 796px; top: 649px;}
.word68{color: black; font-size: 12px; position: absolute; cursor: default; left: 796px; top: 671px;}
.word69{color: black; font-size: 32px; position: absolute; cursor: default; left: 666px; top: 692px;}
.word70{color: black; font-size: 29px; position: absolute; cursor: default; left: 735px; top: 685px;}
.word71{color: black; font-size: 12px; position: absolute; cursor: default; left: 910px; top: 643px;}
.word72{color: black; font-size: 19px; position: absolute; cursor: default; left: 891px; top: 664px;}
.word73{color: black; font-size: 12px; position: absolute; cursor: default; left: 882px; top: 691px;}
.word74{color: black; font-size: 65px; position: absolute; cursor: default; left: 227px; top: 323px;}
.word75{color: black; font-size: 65px; position: absolute; cursor: default; left: 308px; top: 394px;}
.word76{color: black; font-size: 22px; position: absolute; cursor: default; left: 342px; top: 386px;}
.word77{color: black; font-size: 15px; position: absolute; cursor: default; left: 396px; top: 386px;}
.word78{color: black; font-size: 46px; position: absolute; cursor: default; left: 365px; top: 462px;}
.word79{color: black; font-size: 17px; position: absolute; cursor: default; left: 376px; top: 512px;}
.word80{color: black; font-size: 46px; position: absolute; cursor: default; left: 350px; top: 534px;}
.word81{color: black; font-size: 17px; position: absolute; cursor: default; left: 373px; top: 590px;}
.word82{color: black; font-size: 65px; position: absolute; cursor: default; left: 226px; top: 462px;}
.word83{color: black; font-size: 36px; position: absolute; cursor: default; left: 283px; top: 528px;}
.word84{color: black; font-size: 27px; position: absolute; cursor: default; left: 262px; top: 570px;}
.word85{color: black; font-size: 27px; position: absolute; cursor: default; left: 224px; top: 536px;}
.word86{color: black; font-size: 17px; position: absolute; cursor: default; left: 223px; top: 568px;}
.word87{color: black; font-size: 27px; position: absolute; cursor: default; left: 163px; top: 549px;}
.word88{color: black; font-size: 55px; position: absolute; cursor: default; left: 202px; top: 391px;}
.word89{color: black; font-size: 17px; position: absolute; cursor: default; left: 229px; top: 456px;}
.word90{color: black; font-size: 46px; position: absolute; cursor: default; left: 132px; top: 452px;}
.word91{color: black; font-size: 46px; position: absolute; cursor: default; left: 126px; top: 498px;}
.word92{color: black; font-size: 32px; position: absolute; cursor: default; left: 65px; top: 467px;}
.word93{color: black; font-size: 17px; position: absolute; cursor: default; left: 90px; top: 503px;}
.word94{color: black; font-size: 12px; position: absolute; cursor: default; left: 46px; top: 454px;}
.word95{color: black; font-size: 27px; position: absolute; cursor: default; left: 78px; top: 439px;}
.word96{color: black; font-size: 32px; position: absolute; cursor: default; left: 136px; top: 417px;}
.word97{color: black; font-size: 36px; position: absolute; cursor: default; left: 56px; top: 400px;}
.word98{color: black; font-size: 65px; position: absolute; cursor: default; left: 94px; top: 331px;}
.word99{color: black; font-size: 12px; position: absolute; cursor: default; left: 140px; top: 408px;}
.word100{color: black; font-size: 12px; position: absolute; cursor: default; left: 176px; top: 408px;}
.word101{color: black; font-size: 32px; position: absolute; cursor: default; left: 31px; top: 336px;}
.word102{color: black; font-size: 22px; position: absolute; cursor: default; left: 50px; top: 374px;}
.word103{color: black; font-size: 17px; position: absolute; cursor: default; left: 388px; top: 276px;}
.word104{color: black; font-size: 12px; position: absolute; cursor: default; left: 454px; top: 280px;}
.word105{color: black; font-size: 27px; position: absolute; cursor: default; left: 252px; top: 300px;}
.word106{color: black; font-size: 65px; position: absolute; cursor: default; left: 115px; top: 266px;}
.word107{color: black; font-size: 70px; position: absolute; cursor: default; left: 244px; top: 219px;}
.word108{color: black; font-size: 17px; position: absolute; cursor: default; left: 305px; top: 214px;}
.word109{color: black; font-size: 46px; position: absolute; cursor: default; left: 217px; top: 166px;}
.word110{color: black; font-size: 36px; position: absolute; cursor: default; left: 238px; top: 133px;}
.word111{color: black; font-size: 17px; position: absolute; cursor: default; left: 256px; top: 117px;}
.word112{color: black; font-size: 22px; position: absolute; cursor: default; left: 190px; top: 146px;}
.word113{color: black; font-size: 32px; position: absolute; cursor: default; left: 150px; top: 173px;}
.word114{color: black; font-size: 46px; position: absolute; cursor: default; left: 151px; top: 218px;}
.word115{color: black; font-size: 17px; position: absolute; cursor: default; left: 131px; top: 210px;}
.word116{color: black; font-size: 27px; position: absolute; cursor: default; left: 97px; top: 241px;}
.word117{color: black; font-size: 36px; position: absolute; cursor: default; left: 13px; top: 252px;}
.word118{color: black; font-size: 23px; position: absolute; cursor: default; left: 16px; top: 296px;}
.word119{color: black; font-size: 13px; position: absolute; cursor: default; left: 29px; top: 324px;}
.word120{color: black; font-size: 27px; position: absolute; cursor: default; left: 64px; top: 299px;}